$bg-color: #f0efee;
$ff: 'Open Sans', sans-serif; 

// GRID ITEM VARIABLES
$grid-border-radius: 5px;
$grid-item-width: 240px;

// Colors
$primary-color:	    #acaaaa;
$menu-color:	    #bbbbbb;
$background-color:  #f0efee;
$title-color:  	    #717171;
$light-default: 	#ffffff;
$dark-default:  	#101011;
$selected-rating:   #b9cb41;


// SCREENS
$desktop:           1050px;
$tablet-landscape:  991px;
$tablet:            820px;
$mobile-landscape:  767px;
$mobile:            480px;