.grid__item {
  width: 240px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }

.grid__image {
  min-height: 158px;
  max-height: 311px;
  overflow: hidden; }
  .grid__image img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

.grid__header {
  padding: 15px 20px; }

.grid__title {
  font-weight: normal;
  font-size: 1.2em;
  color: #717171; }

.grid__category {
  font-size: 1em;
  font-weight: normal;
  color: #acaaaa; }
  .grid__category svg {
    position: relative;
    width: 14px;
    fill: #acaaaa;
    top: 11px;
    margin-right: 5px; }

.grid__description {
  font-size: 0.8em;
  color: #acaaaa;
  padding: 0 20px 16px; }

.grid__footer {
  padding: 10px 20px;
  border-top: 1px solid #CCC; }

.grid__share {
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  border-radius: 100%;
  background-color: #d6d6d6;
  transition: background-color linear 0.3s; }
  .grid__share:hover {
    background-color: #337ab7; }
  .grid__share svg {
    position: relative;
    top: 0px;
    left: -2px;
    width: 25px;
    fill: white; }

.grid__rating {
  float: left;
  display: inline-flex; }
  .grid__rating__star {
    list-style-type: none;
    margin-left: 2px;
    color: #dddddd; }
    .grid__rating__star--active {
      color: #b9cb41; }
