@import "../../assets/css/variables";


.grid {
    &__item {
        width: $grid-item-width;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        border-radius: $grid-border-radius;
    }


    &__image {
        min-height: 158px;
        max-height: 311px;
        overflow: hidden;
        img {
            width: 100%;
            border-top-left-radius: $grid-border-radius;
            border-top-right-radius: $grid-border-radius;
        }
    }

    &__header {
        padding: 15px 20px
    }

    &__title {
        font-weight: normal;
        font-size: 1.2em;
        color: #717171;
    }

    &__category {
        font-size: 1em;
        font-weight: normal;
        color: #acaaaa;

        svg {
            position: relative;
            width: 14px;
            fill: #acaaaa;
            top: 11px;
            margin-right: 5px;
        }
    }

    &__description {
        font-size: 0.8em;
        color: #acaaaa;
        padding: 0 20px 16px;
    }

    &__footer {
        padding: 10px 20px;
        border-top: 1px solid #CCC;
    }

    &__share {
        display: block;
        width: 20px;
        height: 20px;
        float: right;
        border-radius: 100%;        
        background-color: #d6d6d6;
        transition: background-color linear 0.3s;
        
        &:hover {
            background-color: #337ab7;
        }

        svg {
            position: relative;
            top: 0px;
            left: -2px;
            width: 25px;
            fill: white;
        }
    }

    &__rating {
        float: left;
        display: inline-flex;

        &__star {
            list-style-type: none;
            margin-left: 2px;
            color: #dddddd;   
            
            &--active {                
                color: #b9cb41;
            }
        }
    }
}

