.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out;
  z-index: 10; }
  @media only screen and (max-width: 767px) {
    .header {
      background-color: #f0efee;
      box-shadow: none; }
      .header.fixed {
        background-color: rgba(255, 255, 255, 0.98);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); } }
  .header__logo {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 28px; }
    .header__logo a {
      display: block;
      height: 100%; }
    @media only screen and (max-width: 767px) {
      .header__logo {
        position: absolute;
        top: 20px;
        left: 50%;
        margin: 0 0 0 -75px; } }
  .header__find {
    float: right;
    display: none; }
  .header__hamburguer {
    float: left;
    display: inline-block; }
  .header__hamburguer, .header__find {
    position: relative;
    margin: 30px 50px 0 70px;
    padding: 0 10px;
    width: 50px;
    height: 35px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #fefefe 1%, whitesmoke 100%);
    background-image: linear-gradient(to bottom, #fefefe 1%, whitesmoke 100%); }
    @media only screen and (max-width: 991px) {
      .header__hamburguer, .header__find {
        margin-left: 20px;
        margin-right: 20px; } }
    @media only screen and (max-width: 767px) {
      .header__hamburguer, .header__find {
        display: block; } }
    .header__hamburguer span,
    .header__hamburguer span::after,
    .header__hamburguer span::before, .header__find span,
    .header__find span::after,
    .header__find span::before {
      display: block;
      background-color: #bbbbbb;
      width: 28px;
      height: 3px; }
    .header__hamburguer svg, .header__find svg {
      display: block;
      position: relative;
      width: 20px;
      top: -1px;
      left: 3px;
      fill: #bbbbbb; }
    .header__hamburguer span, .header__find span {
      margin: 0 auto;
      position: relative;
      top: 0;
      transition-delay: .2s;
      transition-duration: 0s; }
      .header__hamburguer span::before, .header__hamburguer span::after, .header__find span::before, .header__find span::after {
        content: '';
        position: absolute; }
      .header__hamburguer span::before, .header__find span::before {
        margin-top: -8px;
        transition-delay: .2s, 0s;
        transition-duration: .2s;
        transition-property: margin, transform; }
      .header__hamburguer span::after, .header__find span::after {
        margin-top: 8px;
        transition-delay: .2s, 0s;
        transition-duration: .2s;
        transition-property: margin, transform; }
    .header__hamburguer:hover, .header__find:hover {
      border-color: #c8c8c8; }
    .header__hamburguer.active span, .header__find.active span {
      background-color: transparent;
      transition-delay: 0.1s; }
      .header__hamburguer.active span::before, .header__find.active span::before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, .2s; }
      .header__hamburguer.active span::after, .header__find.active span::after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, .2s; }
  .header__navigation {
    display: none; }
  .header__search {
    display: inline-block;
    padding-top: 30px;
    position: relative;
    width: 430px; }
    @media only screen and (max-width: 991px) {
      .header__search {
        width: 250px; } }
    @media only screen and (max-width: 767px) {
      .header__search {
        display: none; } }
    .header__search__submit {
      width: 15px;
      position: absolute;
      top: 3px;
      right: 20px;
      background-color: transparent;
      border: none; }
      .header__search__submit svg {
        transform: scale(0.8);
        fill: #bbbbbb; }
      .header__search__submit:hover svg {
        fill: #aeaeae; }
  .header__user {
    float: right;
    margin-top: 27px;
    margin-right: 20px;
    font-size: 0.9375rem;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .header__user {
        display: none; } }
    .header__user__name {
      padding: 9px 12px;
      color: #939090;
      float: right; }
      .header__user__name:hover {
        color: #797777; }
    .header__user img {
      border-radius: 100%; }
