@import 'assets/css/variables';
@import "assets/css/mixins",
		    "assets/css/bourbon";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff;
}

body {
  background-color: $bg-color;
}

.wrapper {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  position: relative;
}

.masonry {
  margin-top: 140px;
}

.icon-logo {
  background-image: url(assets/images/sprite.png);
  background-position: 0px 0px;
  width: 154px;
  height: 52px;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

$input-text-color: lighten($primary-color, 10%);
$input-focus-color: $primary-color;
$input-radius: 3px;
$input-background: #f7f6f6;
$input-border-color: #e7e7e7;
$input-label-color: $input-border-color;

.input {
  position: relative;

  input[type="text"] {
      width: 100%;
      height: 35px;
      padding: 5px 10px;
      outline: 0;
      font-size: rem(14px);
      font-weight: 100;   
      color: $input-text-color;
      background-color: $input-background;
      transition: all 0.3s ease-out;
      border: 1px solid $input-border-color;
      border-radius: $input-radius;

      &:focus {
          color: darken($input-text-color, 15%);
          border-color: darken($input-border-color, 5%);
      }
  }

}