* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

body {
  background-color: #f0efee; }

.wrapper {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  position: relative; }

.masonry {
  margin-top: 140px; }

.icon-logo {
  background-image: url(assets/images/sprite.png);
  background-position: 0px 0px;
  width: 154px;
  height: 52px; }

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.input {
  position: relative; }
  .input input[type="text"] {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    outline: 0;
    font-size: 0.875rem;
    font-weight: 100;
    color: #c5c4c4;
    background-color: #f7f6f6;
    transition: all 0.3s ease-out;
    border: 1px solid #e7e7e7;
    border-radius: 3px; }
    .input input[type="text"]:focus {
      color: #9f9d9d;
      border-color: #dadada; }
